.nav-layout ul{
    display: inline-block;
    align-items: center; 
    margin: 5px;
}

.nav-layout ul .list-item  {
    list-style: none;
    font: 1em sans-serif;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
    /* background-color: gainsboro;  */
}
.link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #ffff;
}
.nav-layout ul li:hover{
    background-color: #F59E0B;
    color: #1E3A8A;
    border-radius: 0.5rem;
}
