/* --- left sidebar --- */
.left {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
  height: 100vh ;
  gap: 0.5rem;
  background-color:rgba(0, 0, 0, 0.93); /*#1E3A8A*/
}

.left .business-name {
  display: flex;
  flex-direction: column;
}
.left .business-name h2 {
  color: #F59E0B;
  text-align: center;
  font-size: 20px;
}
.left .business-name span {
  color: #f0f0f0;
  font-style: italic;
}
