header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #F9FAFB;
  border: 1px solid #D1D5DB;
}

.humburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.humburger div {
  width: 30px;
  height: 3px;
  background-color: #1E3A8A;
  transition: background-color 0.3s;
}
.humburger:hover div {
  background-color: #F59E0B;
}